.card {}
.card--horizontal {}

.card__text {
  font-size: 14px;
  line-height: 23px;
}

.card--horizontal {
  .card__image {
    float: left;
    width: 64px;
    margin-right: 15px;
    margin-top: 3px;
  }

  .card__text {
    float: left;
    width: calc(100% - 64px - 15px);
  }
}
