@font-face {
  font-family: 'Fanwood';
  font-weight: 400;
  src: url('font/fanwood-webfont.eot') format('eot');
  src: local('☺︎'), url('font/fanwood-webfont.eot') format('eot'),
    url('font/fanwood-webfont.woff') format('woff'),
    url('font/fanwood-webfont.ttf') format('truetype'),
    url('font/fanwood-webfont.svg#FanwoodRegular') format('svg');
}

@font-face {
  font-family: 'Fanwood';
  font-weight: 400;
  font-style: italic;
  src: url('font/fanwood_italic-webfont.eot') format('eot');
  src: local('☺︎'), url('font/fanwood_italic-webfont.eot') format('eot'),
    url('font/fanwood_italic-webfont.woff') format('woff'),
    url('font/fanwood_italic-webfont.ttf') format('truetype'),
    url('font/fanwood_italic-webfont.svg#FanwoodRegular') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

.font-sans {
  font-family: 'Open Sans';
}

.font-serif {
  font-family: 'Fanwood';
}

h1,
h2,
h3,
h4,
h5,
h6,
.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h5,
.uk-h6 {
  -webkit-font-smoothing: antialiased;
}
