.header-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  align-items: center;
}

.header-nav__menu {
  padding-left: 0;
  list-style-type: none;
}

.header-nav--large {
  display: none;

  @media screen and (min-width: $breakpoint-large) {
      display: flex;
  }

  .header-nav__cta,
  .header-nav__logo {
      width: 25%;
  }
}

.header-nav__menu {
    width: 50%;
    margin: 0;
    text-align: center;

    li {
        display: inline-block;

        & + li { margin-left: 25px; }

        &.active { font-weight: bold; }

        &:hover a { color: black; }
    }

    a {
        @include regular-text();
        @include directive-text();
        padding: 16px 10px;
    }
}

.header-nav__cta {
  text-align: right;

  &:hover a { text-decoration: none; }
}


.header-nav--small {
  display: flex;
  margin-top: 28px;

  .header-nav__cta,
  .header-nav__logo,
  .header-nav__bars {
      width: 33%;
  }

  .header-nav__logo {
    text-align: center;
  }

  @media screen and (min-width: $breakpoint-medium-max) {
      display: none;
  }
}
