.portfolio-bg {
  position: fixed;
  top: 45%;
  opacity: 0.5;
}

.portfolio-bg--1 {
  background: url('/assets/bgtriangle.svg');
  right: -260px;
  width: 1702px;
  height: 1755px;
  z-index: -1;
}

.portfolio-bg--2 {
  background: url('/assets/bgtriangle2.svg');
  width: 1946px;
  height: 1544px;
  right: 0;
  z-index: -1;
}

.portfolio-container {
    max-width: 660px;
    margin: 0 auto;
    padding: 0 $utility-container-padding-horizontal;

    @media (min-width: $breakpoint-xlarge) {
        padding: 0 $utility-container-large-padding-horizontal;
    }
}

.portfolio-container--expanded {
    max-width: 900px;
}

.portfolio__title {
    font-size: 28px;
    line-height: 37px;
    font-style: italic;
    color: $base-heading-color;
    margin-top: 63px;
    margin-bottom: 40px;
    -webkit-font-smoothing: antialiased;

    @media (min-width: $breakpoint-medium) { font-size: 40px; line-height: 53px; margin-top: 100px; }
    @media (min-width: $breakpoint-large)  { font-size: 50px; line-height: 64px; }
    @media (min-width: $breakpoint-xlarge) { font-size: 60px; line-height: 78px; margin-top: 142px; }
}

.portfolio__tags {
    color: $grey;
    text-transform: uppercase;
    display: block;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 1px;

    @media (min-width: $breakpoint-medium) { font-size: inherit; }
}

.portfolio-meta {
    text-align: center;
    margin-bottom: 24px;

    .portfolio__title::after {
        content: '';
        display: block;
        clear: both;
        margin: 20px auto;
        width: 65px;
        height: 1px;
        background-color: $base-heading-color;

        @media (min-width: $breakpoint-medium) {
          margin: 25px auto;
        }
    }

    @media (min-width: $breakpoint-large) { margin-bottom: 78px; }
}

.portfolio__body {
    font-size: 18px;
    line-height: 27px;
    max-width: 660px;

    a {
        font-family: $base-body-font-family;
        font-size: inherit;
        font-style: inherit;
        font-weight: bold;
        text-decoration: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 { font-family: $base-body-font-family; }

    h3,
    h4 {
      font-weight: bold;
    }
}

.portfolio-aside {
  margin-top: 50px;
  margin-bottom: 80px;
}

.portfolio-aside-container {
  max-width: 1055px;
  margin: 0 auto;
}

.portfolio-aside__caption {
  font-size: 14px;
  font-style: italic;
  line-height: 25px;
  max-width: 300px;
}
