@mixin small-quote-pseudo-el() {
  content: '';
  position: absolute;
  width: 44px;
  height: 2px;
  background-color: #979797;
}

.quote {
  margin-top: 80px;
  margin-bottom: 60px;
}

.quote__body {
  border-left: 2px solid #858585;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 10px;
  font-weight: 300;
  font-style: italic;
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 10px;
}

.quote__meta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote__avatar {
  border-radius: 100%;
  margin-right: 20px;
  overflow: hidden;
}

.quote__attribution {
  max-width: 300px;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  color: #999;
  font-style: normal;
}

@media (max-width: $breakpoint-medium-max) {
  .quote__body {
    font-size: 15px;
    line-height: 26px;
    font-weight: 600;
    color: #5a7896;
    font-style: normal;
    border-left: none;
    padding-left: 0;
    position: relative;
    padding-top: 15px;

    &:before {
      @include small-quote-pseudo-el();
      top: 0;
      left: 0;
    }
  }

  .quote__attribution {
    position: relative;
    width: 100%;
    max-width: none;
    text-align: right;
    text-transform: none;
    padding-bottom: 15px;

    &:after {
      @include small-quote-pseudo-el();
      bottom: 0;
      right: 0;
    }
  }

  .quote__avatar {
    display: none;
  }
}
