$brand-blue: #518dca;

$base-body-background:                          #fff;
$base-body-font-family:                         "Open Sans", Helvetica, Arial, sans-serif;
$base-body-font-weight:                         300;
$base-body-font-size:                           18px;
$base-body-line-height:                         27px;
$base-body-color:                               #444;

$base-link-color:                               $brand-blue;
$base-link-text-decoration:                     none;
$base-link-hover-color:                         #059;
$base-link-hover-text-decoration:               underline;
$base-em-color:                                 #d05;
$base-ins-background:                           #ffa;
$base-ins-color:                                #444;
$base-mark-background:                          #ffa;
$base-mark-color:                               #444;
$base-selection-background:                     #39f;
$base-selection-color:                          #fff;

$base-margin-vertical:                          30px;

$base-heading-font-family:                      "Fanwood", Helvetica, Arial, sans-serif;
$base-heading-font-weight:                      normal;
$base-heading-color:                            #444;
$base-heading-text-transform:                   none;
$base-heading-margin-top:                       25px;
$base-h1-font-size:                             46px;
$base-h1-line-height:                           52px;
$base-h2-font-size:                             34px;
$base-h2-line-height:                           40px;
$base-h3-font-size:                             18px;
$base-h3-line-height:                           24px;
$base-h4-font-size:                             16px;
$base-h4-line-height:                           22px;
$base-h5-font-size:                             14px;
$base-h5-line-height:                           20px;
$base-h6-font-size:                             12px;
$base-h6-line-height:                           18px;

$base-list-padding-left:                        30px;

$base-hr-border:                                #ddd;
$base-hr-border-width:                          1px;

$base-blockquote-padding-left:                  15px;
$base-blockquote-border:                        #ddd;
$base-blockquote-border-width:                  5px;
$base-blockquote-small-color:                   #999;
$base-blockquote-font-size:                     16px;
$base-blockquote-line-height:                   22px;

$icon-font-path:                                'https://cdnjs.cloudflare.com/ajax/libs/uikit/2.23.0/fonts/';

$utility-container-large-padding-horizontal:    35px;
$utility-container-large-max-width:             1200px + ($utility-container-large-padding-horizontal * 2);

$contrast-inverted-color:                       #444;
$contrast-color:                                #FFFFFF;

$nav-header-font-size:                          16px;
