@import "uikit";
@import "pygment";
@import "fonts";
@import "colors";
@import "typography";

@banner-height 	: 550px;
@tm-white 		: white;
@tagline-size	: 60px;

.disable-hover, .disable-hover * { pointer-events: none; }

#logo {
	font-size: (@base-h1-font-size * 1.25);
	line-height: (@base-h1-font-size * 1.15);
}

.italic { font-style: italic; }

.tagline {
    font-size: @tagline-size;
    font-style: italic;
    margin-bottom: @tagline-size / 2;
}

.bg-grey {
	background: @grey;
}

.bg-grey-topo {
  background: linear-gradient(to bottom,#F3F2EB 90%,rgba(250,249,240,0)) fixed,
              url(https://www.cameronhurd.com/images/topo-map.svg) repeat-x bottom / 480px fixed,
              #FFFFFF;
}

.icon-link i {
	padding-right: 10px;
}

.padding-lg {
    padding-top: 80px;
    padding-bottom: 80px;
}

.tm-header-bg {
	width:100%;
	height: @banner-height;
	position: fixed;
	z-index:-100;

	> div {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height: @banner-height;
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center 0;
	}

	.bg-mountain {
		z-index:10;
		background-image:url(/assets/mountains.jpg);
	}

	.bg-mountainblur {
		z-index:20;
		background-image:url(/assets/mountains-blurred.jpg);
		opacity:0;
	}

	& + .tm-header-container {
		height: @banner-height;
		h1, h2, h3 { color: @tm-white; }
		#logo .italic {
			font-size: (@base-h1-font-size * 1.25) - 4px;
		}
	}

}

.tm-header-bg--small, .tm-header-bg--small > div, .tm-header-bg--small + .tm-header-container {
  height: @banner-height * 0.65;
}

.tm-container {
	background: white;
	overflow: hidden;
}

.hook-article-meta {
	margin: 0px;
	& + p {
		margin-top: 15px;
	}
}

.hook-article-title {
	margin-bottom: 10px;
}

.portfolio-grid {
	.uk-overlay, img { width: 100%; }
}

.hook-list-misc() {
	.uk-list.uk-list-small {
		font-size: 0.8em;
	}
	.uk-list.uk-list-indented {
		padding-left: 30px;
	}
}

.icon-list {
	.icon-list__icon {
		min-width: 30px;
		display: inline-block;
		text-align: center;
	}
}

@media screen and (min-width: @breakpoint-large) { #macbook svg { min-width: 530px; } }
@media screen and (min-width: @breakpoint-xlarge) { #macbook svg { min-width: 630px; } }
