{% capture image-src %}{{ include.post.graphic | default: image.post.screenshot | asset_url }}{% endcapture %}

<article class="{{ include.extra-class }}">
  <a class="portfolio-excerpt portfolio-excerpt--large" href="{{ include.post.url }}">
    <div class="uk-grid uk-grid-medium">
      <div class="uk-width-medium-1-3 uk-hidden-small">
        <div class="portfolio-excerpt__image">
          <img src="{{ image-src }}" />
        </div>
      </div>

      <div class="uk-width-medium-2-3 uk-width-3-4">
        <div class="portfolio-excerpt__tags portfolio__tags">{{ include.post.tags | array_to_sentence_string: '' }}</div>
          <h2 class="portfolio-excerpt__title">{{ include.post.short_title | default: include.post.title }}</h2>
          {% if nil != include.post.short_meta %}
            <div class="portfolio-excerpt__meta">{{ include.post.short_meta }}</div>
          {% endif %}
      </div>
    </div>
  </a>
</article>
