body > .uk-sticky-placeholder:first-of-type {
  position: absolute;
  width: 100%;
  z-index: 100;
}

.header-nav-container[data-uk-sticky] {
  visibility: hidden;
}

.header-nav-container[data-uk-sticky].uk-active {
  visibility: visible;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
}
