<footer class="footer" role="footer">
  <div class="uk-container uk-container-center">
    <div class="uk-grid" data-uk-grid-margin="{cls: 'uk-margin-large-top'}">
      <div class="uk-width-medium-7-10 uk-push-3-10">
        <div class="uk-grid" data-uk-grid-margin>
          <div class="uk-width-large-1-3 uk-width-small-1-3 uk-width-1-1">
            <ul class="uk-nav">
              <li class="uk-nav-header">Contact</li>
              <li><a href="#" class="">info@adventurousweb.design</a></li>
              <li><a href="#" class="">(917) 727-6903</a></li>
              <li><a href="#" class="">40 min. North of Toronto, Ontario</a></li>
            </ul>
          </div>

          <div class="uk-width-large-1-3 uk-width-small-1-3 uk-width-1-1">
            <ul class="uk-nav">
              <li class="uk-nav-header">Navigation / Site Map</li>
              <li><a href="/" class="uk-text-truncate">Home Page</a></li>
              <li><a href="/about-us" class="uk-text-truncate">About Us</a></li>
              <li><a href="/work" class="uk-text-truncate">Recent Work</a></li>
              <li><a href="#" class="uk-text-truncate">Privacy Policy</a></li>
            </ul>
          </div>

          <div class="uk-width-large-1-3 uk-width-small-1-3 uk-width-1-1">
            <ul class="uk-nav">
              <li class="uk-nav-header">Blog</li>
              {% for post in site.posts %}
                <li><a href="{{ post.url }}" class="uk-text-truncate">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <div class="uk-width-medium-3-10 uk-pull-7-10 uk-text-center-small">
        {% include logo-light.svg %}

        <div class="fine-print uk-margin-top">
          Copyright Adventurous Web Design {{ "now" | date: "%Y" }}
        </div>

        <div class="fine-print fine-print--small">
          <a href="#">Privacy Policy</a> | <a href="#">Terms & Conditions</a>
        </div>
      </div>
    </div>
  </div>
</footer>
