{::nomarkdown}
{{ include.before | default: page.image_caption_container_close | default: '</div>' }}
{:/nomarkdown}
<div class="portfolio-aside-container">
  <div class="portfolio-aside">
    <div class="uk-grid">
      <div class="portfolio-aside__image uk-width-medium-3-5">
        {% include macbook-skeleton.svg image=include.image %}
      </div>
      <div class="portfolio-aside__caption uk-width-medium-2-5">
        {{ include.caption }}
      </div>
    </div>
  </div>
</div>
{::nomarkdown}
{{ include.after | default: page.image_caption_container_open | default: '<div>' }}
{:/nomarkdown}
