.font-sans {
  font-family: 'Open Sans';
}

.font-serif {
  font-family: 'Fanwood Text';
}

h1,
h2,
h3,
h4,
h5,
h6,
.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h5,
.uk-h6 {
  -webkit-font-smoothing: antialiased;
}
